  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

  * {
      font-family: 'Poppins', sans-serif;
  }

  .NavBar {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background: #79B5B9;
      flex-direction: row;
  }

  .navLinks {
      display: flex;
      align-items: center;
  }

  .navLinks li {
      list-style: none;
      color: black;
      font-size: 20px;
      font-weight: 500;
      padding: 6px;
      text-decoration: none;
      margin: 4px;
  }

  .navLinks li a {
      color: black;
      font-size: 20px;
      font-weight: 500;
      padding: 6px;
      text-decoration: none;
      margin: 4px;
  }