
.selectUniversidades {
    background: #79B5B9;
    border: none;
    box-shadow: none;
    color: black;
    font-size: 15px;
    font-weight: 400;
    padding: 2px 0;
    width: auto; 
    height: 24px;
    text-align: center;
  }
  
  .selectUniversidades option {
    text-decoration: none;
    background: #79B5B9;
    color: black;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
  }
  